<ul>
	<% @users.each do |user| %>
		<li> 
		<% @relationship = Relationship.find_by(follower_id: session[:user_id], followed_user: user) %>
		<%= link_to user.username, user_path(user)%> 
				<%= form_for(@relationship, method: :delete) do |f| %>
			<%= f.hidden_field :user_id, :value => user.id %>
			<%= f.submit "unfollow" %>			
		<% end %>
		</li>
	<% end %>
</ul>
