
  <div id="userzone">
  <% users.each do |user| %>
    <div class="card">
    <p class="red"> <%= user.username%> </p>
    <%= form_for(relationship) do |f| %>
      <%= f.hidden_field :user_id, :value => user.id %>
      <%= f.submit "follow", :class => 'button-blue-outline mb1' %>
      </div>
    <% end %>
  <% end %>
  </div>


