<div class="container-centered">
  <center>
    <h2> Discover Users</h2>
    <%= render partial: "search" %>
    <div id ="userzone">
      <%= render(:partial => "user_container", :locals => {:users => @user_array, :relationship => @relationship}) %>
    </div>
  </center>
</div>
