<ul>
	<% @users.each do |user| %>
		<li> 
		<%= link_to user.username, user_path(user)%>
		<%= form_for(@relationship) do |f| %>
			<%= f.hidden_field :user_id, :value => user.id %>
			<%= f.submit "follow" %>			
		<% end %>
		</li>
	<% end %>
</ul>