<div class="container-centered">
  <center>
    <h2>Links</h2>
    <%= render partial: "search" %>
    <div id ="linkzone">
      <%= render(:partial => "link_container", :locals => {:links => @links}) %>
    </div>
  </center>
</div>
