
<h2> Links:</h2>
<% @links.each do |link| %>
	<%= link_to link.url, link.url %> <br>
		<% link.tags.each do |tag| %>
			<%= link_to add_hashtag(tag.name), "/tags/#{tag.id}" %>
		<% end %>	
<% end %>
