<!-- Form for createing a new link -->
<div class="container-centered">
  <center>
    <h2>Add A New Link</h2>
<%= form_for @link do |form| %>
	<%= form.text_field :url, :placeholder => "Url" %> <br>
	<input type="text" name="tags" placeholder="#tags"> <br>
	<%= form.submit %>
<% end %>
</center>
</div>
