<div class="container-centered">
  <center>
    <h2> Tags</h2>
    <%= render partial: "search" %>
      <div id ="tagzone">
        <%= render(:partial => "tag_container", :locals => {:tags => @tags}) %>
      </div>
    </center>
  </div>
