/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a,h2,p{
	text-decoration: none !important;
	font-family: "PT Sans"
}

.field-light {
	margin-left: auto;
	margin-right: auto;
	background-color: red
}

.logo {
	margin-top: 25px;
	margin-bottom: 25px;
	height: 50px;
}

/*.logo_image {
	margin:auto;
height: 100px;
width: 100px;
}*/

.side-item {
	height: 30px;
}
.side-item:hover {
    background-color: #ECF0F1;
}
li {
	list-style-type: none;
}
#linkzone, #tagzone, #userzone {
	width: 750px
}

h2{
	color: #F9663C;
	text-align: center
}
.card {
	background:white;
	border-radius: 4px;
	border:1px solid #AAA;
	border-bottom:1px solid #BBB;
	padding:10px;
	margin:15px;
	overflow:hidden;
}

.container-centered{
	border: 1px;
	margin-left: 200px;
}

.thezone {
	width: 100%;
}

.custom-bar {
	background-color: #2C3E50;
}

.red {
	color: black;
}
i, .right-red {
	font-family: "PT Sans";
	color: #E74C3C;	
}

.button-red-outline {
	line-height: 1;
	color: #E74C3C;
	background-color: white;
	border-radius: 3px;
	border: 2px solid #E74C3C;
	transition-timing-function: ease-out;
	transition-property: box-shadow,background-color;
}

.button-red-outline:hover {
	border: 0px;
	/*font-color: white;*/
	/*background-color: #E74C3C;*/
	background-color: #3498DB;
}