/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a,h2{
	font-family: "PT Sans"
}

.field-light {
	margin-left: auto;
	margin-right: auto;
	background-color: red
}

.logo {
	margin-top: 25px;
	margin-bottom: 25px;
	height: 50px;
}

/*.logo_image {
	margin:auto;
height: 100px;
width: 100px;
}*/

.side-item {
	height: 30px;
}
.side-item:hover {
    background-color: #BBBEBE;
}
li {
	list-style-type: none;
}
#linkzone, #tagzone, #userzone {
	width: 750px
}

h2{
	color: #F9663C;
	text-align: center
}
.card {
	background:#FFF;
	border:1px solid #AAA;
	border-bottom:2px solid #BBB;
	padding:10px;
	margin:15px;
	overflow:hidden;
}

.container-centered{
	border: 1px;
	margin-right: 200px;
}

.thezone {
	width: 100%;
}
