  <% if @current_user %>
  <a href="/" class="item">
    <div class="side-item">
      <center>

    <i class="fa fa-sign-out"></i><%= link_to " Sign out", signout_path, method: :delete, class: "right-red" %>
      </center>
  </div>
  </a>
<% end %>
