  <% if @current_user %>
  <a href="/" class="item">
    <div class="side-item">
      <center>

    <%= link_to "Sign out", signout_path, method: :delete %>
      </center>
  </div>
  </a>
<% end %>
