<!DOCTYPE html>
<html>
<head>
	<title>LynxShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui red vertical demo thin sidebar menu bg-lighter-gray show">
  <a href="/" class="item">
    <div class="side-item">
      <center>
          <i class="home icon"></i>
          Home
      </center>
    </div>
  </a>

  <a href="/" class="item"> 
    <div class="side-item"> 
      <center>
          Following
      </center>
    </div>
  </a>

  <a href="/links/new" class="item" >
    <div class="side-item"> 
      <center>
          Add Link
      </center>
    </div>
  </a>

  <a href="/links" class="item">
    <div class="side-item"> 
      <center>
          Tags
      </center>
  </div>
  </a>

   <a href="/tags" class="item">
    <div class="side-item"> 
      <center>
          People
      </center>
  </div>
  </a>
</div>
<script>$('.demo.sidebar').sidebar('toggle')</script>
<%= yield %>

</body>
</html>
